MONGO_URI=mongodb://localhost:27017/
MONGO_DB=ProyectoFutbol
MONGO_COLLECTION=Jugadores
RUTA_2122=bd_futbol/2021-2022 Fotball Player Stats/2021-2022 Football Player Stats.csv
RUTA_2223=bd_futbol/Big5-statsStats22-23/Big5-statsStats22-23.csv
RUTA_2324=bd_futbol/all-football-players-stats-in-top-5-leagues-2324/versions/1/top5-players.xlsx
RUTA_2425=bd_futbol/all-football-players-stats-in-top-5-leagues-2425/versions/1/top5-players24-25.xlsx