# Python
__pycache__/
*.pyc
.venv/
venv/

# Variables de entorno (contienen credenciales y rutas locales)
.env

# Data / Kaggle downloads (NO subir)
*.xlsx
*.csv
all-football-players-stats-in-top-5-leagues-2324/
all-football-players-stats-in-top-5-leagues-2425/
data/*.xlsx
data/*.csv

# OS / editor
.DS_Store
.vscode/
.idea/

# Kaggle folders inside bd_futbol (NO subir)
bd_futbol/all-football-players-stats-in-top-5-leagues-2324/
bd_futbol/all-football-players-stats-in-top-5-leagues-2425/
bd_futbol/**/*.xlsx
bd_futbol/**/*.csv
